
			h1{
				text-align: center;
				font-size: 3em;
				margin: 0 auto 20px;
				opacity: 0.9;
				font-family: 'Sanchez', serif;
				margin-top: 150px;
			}
			body{
				margin: 0 auto;
				text-align: center;
				font-family: "Century Gothic", Arial, sans-serif;
				background: url("https://pre10.deviantart.net/af8c/th/pre/f/2014/205/5/6/gradient_wallpaper_by_switchgonewild-d7r56xs.png") fixed no-repeat;
				background-size: 100%;
			}

			input{
				width: 20%;
				padding: 1%;
				border-radius:5px;
				box-shadow: none;
				border:none;
			}

			label, input{
				display: block;
				margin: 0 auto;
			}

			#entrar{
				font-family: "Century Gothic", Arial, sans-serif;
				margin-top: 10%;
				border-radius: 5px;
				width: 10%;
				padding: 1%;
				border: none;
				background-color: rgba(255,255,255,0.7);
				font-size: 1.2em;
				margin-top: 10px;
			}

			#entrar:hover{
				transition: 0.2s;
				font-weight: bold;
				color: #008B8B; 
			}
			.ent{
				text-decoration: none;
				font-family: "Century Gothic", Arial, sans-serif;
			}
			